<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>drinkName</key>
		<string>熟成紅茶</string>
		<key>description</key>
		<string>解炸物/燒烤肉類油膩，茶味濃郁的帶果香</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-1</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>麗春紅茶</string>
		<key>description</key>
		<string>去除海鮮羶腥，茶味較淡帶花香</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-2</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>太妃紅茶</string>
		<key>description</key>
		<string>咖啡與茶的神秘比例搭配</string>
		<key>middlePrice</key>
		<integer>30</integer>
		<key>bigPrice</key>
		<integer>35</integer>
		<key>image</key>
		<string>tea-3</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>胭脂紅茶</string>
		<key>description</key>
		<string>絲絨般的蜜桃果香</string>
		<key>middlePrice</key>
		<integer>35</integer>
		<key>bigPrice</key>
		<integer>40</integer>
		<key>image</key>
		<string>tea-3</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>雪藏紅茶</string>
		<key>description</key>
		<string>冰淇淋與紅茶的綿綿情意</string>
		<key>middlePrice</key>
		<integer>45</integer>
		<key>bigPrice</key>
		<integer>55</integer>
		<key>image</key>
		<string>tea-3</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>熟成冷露</string>
		<key>description</key>
		<string>手工冬瓜與茶更神秘比例搭配</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-4</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>雪花冷露</string>
		<key>description</key>
		<string>手工冬瓜獨奏</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-5</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>春芽冷露</string>
		<key>description</key>
		<string>手工冬瓜綠茶</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-6</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>春芽綠茶</string>
		<key>description</key>
		<string>綠茶，系系中帶點彔彔</string>
		<key>middlePrice</key>
		<integer>25</integer>
		<key>bigPrice</key>
		<integer>30</integer>
		<key>image</key>
		<string>tea-7</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>春梅冰茶</string>
		<key>description</key>
		<string>春梅與冬瓜相遇</string>
		<key>middlePrice</key>
		<integer>35</integer>
		<key>bigPrice</key>
		<integer>45</integer>
		<key>image</key>
		<string>tea-8</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>冷露歐蕾</string>
		<key>description</key>
		<string>手工冬瓜與鮮奶</string>
		<key>middlePrice</key>
		<integer>40</integer>
		<key>bigPrice</key>
		<integer>50</integer>
		<key>image</key>
		<string>tea-9</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>熟成歐蕾</string>
		<key>description</key>
		<string>熟成鮮奶茶</string>
		<key>middlePrice</key>
		<integer>40</integer>
		<key>bigPrice</key>
		<integer>50</integer>
		<key>image</key>
		<string>tea-10</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>白玉歐蕾</string>
		<key>description</key>
		<string>珍奶不解釋</string>
		<key>middlePrice</key>
		<integer>50</integer>
		<key>bigPrice</key>
		<integer>60</integer>
		<key>image</key>
		<string>tea-11</string>
	</dict>
	<dict>
		<key>drinkName</key>
		<string>熟成檸果</string>
		<key>description</key>
		<string>每日限量的鮮檸紅茶，整顆檸檬搭配7分糖最佳</string>
		<key>middlePrice</key>
		<integer>50</integer>
		<key>bigPrice</key>
		<integer>0</integer>
		<key>image</key>
		<string>tea-12</string>
	</dict>
</array>
</plist>
